/* FlipBook v1.0.0-107 */
/* themes/_layout */
/*
require('themes/light');require('themes/dark');require('themes/gray');
*/
.flipbook div,
.flipbook span,
.flipbook object,
.flipbook iframe,
.flipbook h1,
.flipbook h2,
.flipbook h3,
.flipbook h4,
.flipbook h5,
.flipbook h6,
.flipbook p,
.flipbook pre,
.flipbook a,
.flipbook abbr,
.flipbook acronym,
.flipbook address,
.flipbook code,
.flipbook del,
.flipbook dfn,
.flipbook em,
.flipbook img,
.flipbook dl,
.flipbook dt,
.flipbook dd,
.flipbook ol,
.flipbook ul,
.flipbook li,
.flipbook fieldset,
.flipbook form,
.flipbook label,
.flipbook legend,
.flipbook caption,
.flipbook tbody,
.flipbook tfoot,
.flipbook thead,
.flipbook tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.flipbook table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
.flipbook caption,
.flipbook th,
.flipbook td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.flipbook a img {
  border: none;
}
.flipbook,
.flipbook * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flipbook {
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  max-width: 100%;
  cursor: default;
  margin: 0 auto;
}
.flipbook:focus {
  outline: 0;
  border: 0;
}
.flipbook header {
  z-index: 5;
  display: relative;
}
.flipbook header h3 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 120%;
}
.flipbook header .zoom,
.flipbook header .help {
  padding: 2px;
  width: 26px;
  float: right;
  text-align: center;
  cursor: pointer;
}
.flipbook header .zoom span,
.flipbook header .help span {
  display: block;
  text-align: center;
}
.flipbook header .zoom.disabled,
.flipbook header .help.disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  cursor: default;
}
.flipbook header .zoom span {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.flipbook header .help {
  font-family: "times new roman", serif;
}
.flipbook .screen-stack {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  z-index: 10;
}
.flipbook .screen-stack .errors {
  padding: 25px;
  text-align: center;
  border: 1px solid #f00;
}
.flipbook .screen-stack .screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.flipbook .screen-stack .screen img {
  max-width: 100%;
  margin: 0 auto;
}
.flipbook .screen-stack .screen.content-screen {
  display: none;
  height: 100%;
  background: rgba(0,0,0,0.7);
  color: #fff;
  width: 100%;
  position: relative;
}
.flipbook .screen-stack .screen.content-screen .container {
  display: table;
  width: 100%;
  height: 100%;
}
.flipbook .screen-stack .screen.content-screen .body {
  display: table-cell;
  vertical-align: middle;
}
.flipbook .screen-stack .screen.help-content {
  padding: 1em;
}
.flipbook .screen-stack .screen.help-content .body {
  padding: 1em;
  border: 3px dotted #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.flipbook .screen-stack .screen.help-content .info {
  display: absolute;
  bottom: 0px;
}
.flipbook .screen-stack .screen.the-end {
  text-align: center;
}
.flipbook .screen-stack .screen.the-end .body {
  text-align: center;
}
.flipbook .screen-stack .screen.the-end .restart {
  display: inline-block;
  border: 3px dotted #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.flipbook .screen-stack .screen.the-end .restart .icon {
  text-align: center;
  font-size: 75px;
  display: block;
  cursor: pointer;
  line-height: 75px;
}
.flipbook .screen-stack .screen.the-end .restart label {
  text-align: center;
  display: block;
  font-size: 90%;
  margin: 15px;
  cursor: pointer;
  text-shadow: 0px 1px 0px #000;
}
.flipbook footer {
  text-align: center;
  z-index: 5;
}
.flipbook footer.copyright {
  font-size: 75%;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.flipbook footer.pager {
  position: relative;
  padding: 3px;
  height: 35px;
  line-height: 28px;
}
.flipbook footer.pager .progress {
  display: block;
  height: 28px;
  margin: 0 33px;
  position: relative;
}
.flipbook footer.pager .progress.errors .bar.background {
  visibility: hidden;
}
.flipbook footer.pager .progress .bar {
  position: absolute;
  height: 14px;
  top: 7px;
  overflow: hidden;
}
.flipbook footer.pager .progress .bar span {
  background: rgba(255,255,255,0.1);
  display: block;
  float: right;
  height: 14px;
  overflow: hidden;
  width: 1px;
}
.flipbook footer.pager .progress .bar.done {
  width: 100% !important;
}
.flipbook footer.pager .progress .bar.done span {
  display: none;
}
.flipbook footer.pager .progress .bar.start {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.flipbook footer.pager .progress .bar.start span {
  display: none;
}
.flipbook footer.pager .progress .bar.background {
  background: #aaa;
  width: 100%;
}
.flipbook footer.pager .progress .bar.loading {
  background-color: #bbb;
  width: 1%;
  height: 10px;
  top: 9px;
}
.flipbook footer.pager .progress .bar.location {
  background-color: #ccc;
  width: 0%;
  height: 12px;
  top: 8px;
}
.flipbook footer.pager .button {
  width: 30px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  cursor: pointer;
  font-size: 195%;
}
.flipbook footer.pager .button span {
  display: block;
}
.flipbook footer.pager .button.nextPage {
  position: absolute;
  top: 3px;
  right: 3px;
}
.flipbook footer.pager .button.prevPage {
  position: absolute;
  top: 3px;
  left: 3px;
}
.flipbook footer.pager .button.prevPage span {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.flipbook footer.pager .button.disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  cursor: default;
}
.flipbook.animated .bar {
  -webkit-transition: width 150ms, opacity 150ms;
  -moz-transition: width 150ms, opacity 150ms;
  -o-transition: width 150ms, opacity 150ms;
  -ms-transition: width 150ms, opacity 150ms;
  transition: width 150ms, opacity 150ms;
}
.flipbook.animated .button {
  -webkit-transition: opacity 150ms;
  -moz-transition: opacity 150ms;
  -o-transition: opacity 150ms;
  -ms-transition: opacity 150ms;
  transition: opacity 150ms;
}
.flipbook.isDesktop .the-end .restart:hover {
  background: rgba(0,0,0,0.2);
}
.flipbook.zoomed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}
.flipbook.zoomed header .zoom span {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.flipbook.zoomed .screen-stack {
  display: table !important;
  position: absolute !important;
  top: 38px !important;
  bottom: 50px !important;
  left: 0px !important;
  right: 0px !important;
}
.flipbook.zoomed .screen-stack .screen {
  position: static !important;
  vertical-align: middle !important;
  text-align: center;
  width: 100%;
  height: 100%;
}
.flipbook.zoomed .screen-stack .screen img {
  display: inline;
}
.flipbook.zoomed .screen-stack .screen.content-screen {
  position: absolute !important;
}
.flipbook.zoomed .copyright {
  position: absolute !important;
  bottom: 35px !important;
  width: 100% !important;
}
.flipbook.zoomed .pager {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
}


/* themes/dark */
.flipbook.theme-dark {
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
  color: #ddd;
  background-color: #222;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0px 2px 4px #999;
  box-shadow: 0px 2px 4px #999;
}
.flipbook.theme-dark:focus {
  color: #fff;
}
.flipbook.theme-dark .button {
  color: #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.flipbook.theme-dark .button.disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.flipbook.theme-dark header {
  background: none;
  padding: 5px;
}
.flipbook.theme-dark header h3 {
  padding-left: 5px;
}
.flipbook.theme-dark .screen-stack .errors {
  padding: 25px;
  text-align: center;
  color: #900;
  border: 0;
  background-color: #fff;
  border: 1px solid #000;
}
.flipbook.theme-dark .screen-stack .screen.the-end {
  background: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
}
.flipbook.theme-dark footer {
  background: none;
}
.flipbook.theme-dark footer.copyright {
  background: #000;
  border-bottom: 1px solid #333;
  color: #555;
}
.flipbook.theme-dark footer.pager {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.flipbook.theme-dark footer.pager .progress .bar {
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.flipbook.theme-dark footer.pager .progress .bar.done {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 0;
}
.flipbook.theme-dark footer.pager .progress .bar.background {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #000;
}
.flipbook.theme-dark footer.pager .progress .bar.loading {
  background-color: #3f3f3f;
}
.flipbook.theme-dark footer.pager .progress .bar.loading.done {
  background-color: #1a1a1a;
}
.flipbook.theme-dark footer.pager .progress .bar.location {
  background-color: #444;
  border-right: 1px solid #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(1, #333));
  background: -webkit-linear-gradient(top, #444 0%, #333 100%);
  background: -moz-linear-gradient(top, #444 0%, #333 100%);
  background: -o-linear-gradient(top, #444 0%, #333 100%);
  background: -ms-linear-gradient(top, #444 0%, #333 100%);
  background: linear-gradient(top, #444 0%, #333 100%);
}
.flipbook.theme-dark footer.pager .progress .bar.location span {
  background-color: #000;
}
.flipbook.theme-dark.zoomed {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.flipbook.theme-dark.zoomed header {
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.flipbook.theme-dark.zoomed footer {
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.flipbook.theme-dark.zoomed .screen {
  background-color: #000;
}
.flipbook.theme-dark.isDesktop .button:hover {
  background: #393939;
}
.flipbook.theme-dark.isDesktop .button.disabled:hover {
  background: none;
}


/* themes/gray */
.flipbook.theme-gray {
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
  color: #555;
}
.flipbook.theme-gray:focus {
  color: #000;
}
.flipbook.theme-gray .button {
  color: #666;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.flipbook.theme-gray .button.disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.flipbook.theme-gray .button.down {
  background: #bbb;
}
.flipbook.theme-gray header {
  border-top: 1px solid #ddd;
  background: #ccc;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 4px;
  padding: 5px;
}
.flipbook.theme-gray header h3 {
  padding-left: 5px;
}
.flipbook.theme-gray .screen-stack {
  -webkit-box-shadow: 0px 2px 9px #777;
  box-shadow: 0px 2px 9px #777;
}
.flipbook.theme-gray .screen-stack .errors {
  padding: 25px;
  text-align: center;
  border: 0;
}
.flipbook.theme-gray .screen-stack .screen.the-end {
  background: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
}
.flipbook.theme-gray footer {
  background: #ccc;
  margin: 0 4px;
}
.flipbook.theme-gray footer.copyright {
  background: #bbb;
  color: #777;
}
.flipbook.theme-gray footer.pager {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
}
.flipbook.theme-gray footer.pager .progress .bar {
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.flipbook.theme-gray footer.pager .progress .bar.done {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 0;
}
.flipbook.theme-gray footer.pager .progress .bar.background {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #aaa;
}
.flipbook.theme-gray footer.pager .progress .bar.loading {
  background-color: #bbb;
}
.flipbook.theme-gray footer.pager .progress .bar.location {
  background-color: #ccc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #aaa));
  background: -webkit-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -o-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: -ms-linear-gradient(top, #ddd 0%, #aaa 100%);
  background: linear-gradient(top, #ddd 0%, #aaa 100%);
  border-right: 1px solid #aaa;
}
.flipbook.theme-gray.zoomed {
  background-color: #fff;
  background-color: #efefef;
}
.flipbook.theme-gray.zoomed header {
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.flipbook.theme-gray.zoomed .screen-stack {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.flipbook.theme-gray.zoomed footer {
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.flipbook.theme-gray.isDesktop .button:hover {
  background: #e0e0e0;
}
.flipbook.theme-gray.isDesktop .button.disabled:hover {
  background: none;
}
.flipbook.theme-gray.isDesktop .button.down:hover {
  background: #b9b9b9;
}


/* themes/light */
.flipbook.theme-light {
  font-family: "Helvetica Neue", Helvetica, Sans-Serif;
  color: #555;
  background: #fff;
  -webkit-box-shadow: 0px 1px 4px #aaa;
  box-shadow: 0px 1px 4px #aaa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.flipbook.theme-light:focus {
  color: #000;
}
.flipbook.theme-light .button {
  color: #777;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.flipbook.theme-light .button.disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.flipbook.theme-light .button.down {
  background: #ddd;
  border: 1px solid #ccc;
}
.flipbook.theme-light header {
  border: 1px solid #ccc;
  background: none;
  padding: 5px;
  z-index: 20;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(top, #fff 0%, #f0f0f0 100%);
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.flipbook.theme-light header h3 {
  padding-left: 5px;
}
.flipbook.theme-light .screen-stack {
  z-index: 10;
}
.flipbook.theme-light .screen-stack .errors {
  padding: 25px;
  text-align: center;
  border: 0;
}
.flipbook.theme-light .screen-stack .screen.the-end {
  background: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
}
.flipbook.theme-light footer.copyright {
  color: #999;
  background: #bbb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #efefef));
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #efefef 100%);
  background: -moz-linear-gradient(top, #e0e0e0 0%, #efefef 100%);
  background: -o-linear-gradient(top, #e0e0e0 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #e0e0e0 0%, #efefef 100%);
  background: linear-gradient(top, #e0e0e0 0%, #efefef 100%);
}
.flipbook.theme-light footer.pager {
  border: 1px solid #ccc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f0f0f0));
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -moz-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%);
  background: linear-gradient(top, #fff 0%, #f0f0f0 100%);
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.flipbook.theme-light footer.pager .progress .bar {
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.flipbook.theme-light footer.pager .progress .bar.done {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 0;
}
.flipbook.theme-light footer.pager .progress .bar.background {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
}
.flipbook.theme-light footer.pager .progress .bar.loading {
  background-color: #dadada;
}
.flipbook.theme-light footer.pager .progress .bar.location {
  background-color: #eee;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
  background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
  background: -o-linear-gradient(top, #fff 0%, #ddd 100%);
  background: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
  background: linear-gradient(top, #fff 0%, #ddd 100%);
  border-right: 1px solid #ccc;
}
.flipbook.theme-light.zoomed {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.flipbook.theme-light.zoomed header {
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 9999;
}
.flipbook.theme-light.zoomed footer {
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 9999;
}
.flipbook.theme-light.isDesktop .button:hover {
  background: #fff;
  border: 1px solid #ddd;
}
.flipbook.theme-light.isDesktop .button.disabled:hover {
  background: none;
}
.flipbook.theme-light.isDesktop .button.down:hover {
  background: #d9d9d9;
  border: 1px solid #ccc;
}


