reset-app()
  *
    cursor: default
    user-select: none
    box-sizing: border-box
    
  a[href], button, input[type=submit]
    cursor: pointer
  input[type=text] textarea
    cursor: text
    user-select: text



headerHeight= 40px
stausHeight= 15px
footerHeight= 35px

buttonHeight= 32px
buttonWidth= 32px

@import 'nib'

.flipbook
  nested-reset()

.flipbook, .flipbook *
  box-sizing: border-box

.flipbook
  font-family "Helvetica Neue", Helvetica, Sans-Serif
  font-size: 16px
  user-select: none
  width: 100%
  max-width: 100%
  cursor: default
  margin: 0 auto;

  &:focus
    outline: 0
    border: 0

  header
    z-index: 5
    display: relative
    h3
      display: block
      overflow: ellipsis
      font-size 120%

    .zoom, .help
      padding: 2px
      width: 26px
      float: right
      text-align: center
      cursor: pointer
      span
        display: block
        text-align: center
      &.disabled
        opacity: 0.3
        cursor: default
    
    .zoom
      span
        transform: rotate(-45deg)
    .help
      font-family: "times new roman", serif


  .screen-stack
    position: relative
    overflow: hidden
    width: 100%
    max-width: 100%
    z-index: 10

    .errors
      padding: 25px
      text-align: center
      border: 1px solid red
    
    .blocker
        position: absolute
        display: block
        width: 100%
        height: 100%

    .screen
      position: absolute
      top: 0
      left: 0
      width: 100%
      max-width: 100%
      text-align: center

      img
        max-width: 100%
        margin: 0 auto


      &.content-screen
        display: none
        height: 100%
        background: rgba(0,0,0,0.7)
        color: white
        width: 100%
        position: relative
        .container
          display: table
          width 100%
          height 100%

        .body
          display: table-cell
          vertical-align middle

        .close
          position: absolute
          display: block
          top: .5em
          right: 1em
          font-size: 25px
          font-family: Times, Serif
          transform: rotate(45deg)
          cursor: pointer


      &.help-content
        padding: 1em
        overflow: auto
        font-size: 12px


        .body
          // padding: 1em
          // border: 3px dotted white
          // border-radius: 15px

        dt
          padding: 1em
          font-weight: bold
          font-size: 120%
          span
            font-size: 120%
        dd
          margin-bottom: 2em


        table
          display: inline-block
      
        th
          text-align: right
          color: #999
          whitespace: nowrap
          kbd
            font-family: Times, Serif
            display: inline-block
            text-align: center
            min-width: 2em
            font-size: 11px
            color: #FFF
            border: 1px solid #DDD
            border-bottom: 3px solid #DDD
            border-radius: 3px
            padding: .25em
            text-transform: uppercase
            border-color: #AAA
            border-bottom-color: #999
            background-color: #DDD
            background: linear-gradient(top, #DDD, #FFF)
            color: #555
            box-shadow: 0px 2px 2px #000

        td
          padding: .25em
          padding-left: 1em
          text-align: left
          vertical-align middel

        .info
          display: absolute
          bottom: 0px


      &.the-end
        text-align center
        
        .body
          text-align center

        .restart
          display inline-block
          border: 3px dotted white
          border-radius: 15px
          cursor: pointer

          .icon
            text-align center
            font-size 75px
            display block
            cursor: pointer
            line-height: 75px

          label
            text-align center
            display block
            font-size 90%
            margin: 15px
            cursor: pointer
            text-shadow: 0px 1px 0px #000



  footer
    text-align: center
    z-index: 5

    &.copyright
      font-size 75%
      padding 2px
      overflow: ellipsis

    pagerHeight= 14px

    &.pager
      position: relative
      padding 3px
      height: pagerHeight * 2.5
      line-height: 28px
  
      .progress
        display block
        height: 28px
        margin 0 33px
        position: relative

        &.errors
          .bar.background
            visibility: hidden

        .bar
          position: absolute
          height: pagerHeight
          line-height: pagerHeight
          top: (pagerHeight / 2px)
          overflow: hidden


          span
            background: rgba(255,255,255,0.1)
            display: block
            float: right
            height: pagerHeight
            overflow: hidden
            width: 1px

          &.done
            width: 100% !important
            span
              display: none

          &.start
            opacity:0
            span
              display: none
          
          &.background
            background #AAA
            width: 100%

          &.loading
            background-color: #BBB
            width: 1%
            height: (pagerHeight - 4)
            top: ((pagerHeight + 4) / 2px)

          &.location
            background-color: #ccc
            width: 0%
            height: (pagerHeight - 2)
            top: ((pagerHeight + 2) / 2px)

          &.position
            width: 100%
            text-align: center
            font-size: 10px

      .button
        width: 30px
        height: 28px
        line-height: 28px
        overflow: hidden
        cursor: pointer
        font-size: 195%
        span
          display: block

        &.nextPage
          absolute: top 3px right 3px
        &.prevPage
          absolute: top 3px left 3px
          span
            transform: rotate(180deg)
        &.disabled
          opacity: 0.3
          cursor: default

  &.animated
    .bar
      transition: width 150ms, opacity 150ms
    .button
      transition: opacity 150ms

  &.isMobile
    .help-content
      .body
        overflow: scroll !important
      dl
        margin: 0 auto
        margin-bottom: 1em !important
        max-width: 20em
      dt
        padding-bottom: 0px !important
      dd
        margin: 0 !important


  &.isDesktop
    .the-end
      .restart
        &:hover
          background: rgba(0,0,0,0.2)


.flipbook.zoomed
  position fixed
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  width: 100%
  height: 100%
  z-index: 1000000

  header
    .zoom
      span
        transform: rotate(135deg)

  .screen-stack
    display: table !important
    position: absolute !important
    left: 0px !important
    right: 0px !important

    .blocker
      position: absolute !important
      width: 100%
      height: 100%
      left: 0
      right: 0


    .screen
      position: static !important
      vertical-align middle !important
      text-align center
      width: 100%
      height: 100%

      img
        display: inline

      &.content-screen
        position: absolute !important

  .copyright
    position: absolute !important
    bottom: 35px !important
    width: 100% !important

  .pager
    position: absolute !important
    bottom: 0 !important
    width: 100% !important