@import 'nib'

.flipbook.theme-light-shiny
  header
    background: linear-gradient(top, #FFF, 48% #F5F5F5, 52% #EEE, #FFF)
  footer
    &.pager
      background: linear-gradient(top, #FFF, 48% #F5F5F5, 52% #EEE, #FFF)
      .progress
        .bar
          &.background
            background: linear-gradient(top, #CCCCCC, 50% #AAA, #CCCCCC)
          &.loading
            background: linear-gradient(top, #DADADA, 50% #D0D0D0, #DADADA)
          &.location
            background: linear-gradient(top, #FFF, 48% #F5F5F5, 52% #EEE, #FFF)
