@import 'nib'

.flipbook.theme-minimal

  header
    h3
      span
        color: #999

  footer
    .bar
      margin: 0 2px !important

    .copyright
      color: #DDD !important
    .location span
      color: #DDD !important



  &.zoomed
    header, footer, .screen-stack
      background-color: #FFF
