<html>
  <head>
    <title>ensure.js test</title>
    <script src="../ensure.js"></script>
  </head>
  <body>
    <p>loading...</p>
  </body>
  <script>
    function has_blam(){ 
      return typeof window.blam != 'undefined' ? null : "//darthapo.github.com/blam.js/blam.min.js" 
    }
    ensure('jquery', has_blam, function(err){
      if(err) {
        document.getElementsByTagName('P')[0].innerHTML= String(err);
        throw err;
      }
      $('p').html(blam(function(){ return span("Seems to be working.")}))
    })
  </script>
</html>